.beams-section {
    background: url('../../img/noise.png') fixed;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media(max-width: 375px) {
        max-height: 270px;
    }
    @media(max-width: 992px) {
        height: 80vh;
        &:before {
            content: '';
            height: 4px;
            width: 100%;
            background: #2C2C2C;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
    @media(max-width: 768px) {
        height: 60vh;
    }
    @media(max-width: 530px) {
        height: 42vh;
    }
    @media(min-width: 992px) {
        min-height: 100vh;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #010101;
        opacity: 0.99;
        @media(min-width: 993px) {
            z-index: -1;
        }
    }

    .beams {
        z-index: 3;
        @media(min-width: 993px) {
            z-index: 2;
        }
        .beam {
            @media(max-width: 992px) {
                height: 1000px;
            }
        }

       

        // === /1920\ === \\
        @media(max-width: 1920px) {
            @media(max-height: 1050px) {
                top: -170px;
            }
        }
        // === \1920/ === \\

         // === /1280\ === \\
         @media(max-width: 1280px) {
            @media(max-height: 580px) {
                top: -154px;
            }
        }
        // === \1280/ === \\

        // === /1366\ === \\
        @media(max-width: 1366px) {
            @media(max-height: 740px) {
                top: -170px;
            }
        }
        // === \1366/ === \\

    }
    .tables {
        width: 100%;
        z-index: 3;
        transform: translate(50%, -90%);
        @media(min-width: 993px) {
            z-index: 2;
            transform: translateX(120%);
            margin: calc(100vh - 456px) 0 100px 0; // 356
        }
        @media(max-width: 530px) {
            transform: translate(50%, -70%);
        }

        // @media(min-width: 1280px) and (max-height: 780px) {
        //     margin: calc(100vh - 456px) 0 100px 0; // 356
        // }
        // @media(min-width: 1366px) and (max-height: 899px) {
        //     margin: calc(100vh - 536px) 0 180px 0; // 356
        // }
        @media(min-width: 1918px) {
            margin: calc(100vh - 656px) 0 300px 0; // 356
            @media(max-height: 910px) {
                margin: calc(100vh - 556px) 0 200px 0;
            }
        }
        @media(min-width: 2558px) {
            margin: calc(100vh - 856px) 0 500px 0; // 356
        }
        @media(max-height: 796px) {
            max-height: 720px;
        }

        // === /1280\ === \\
        @media(max-width: 1280px) {
            @media(max-height: 720px) {
                max-height: 600px;
            }
        }
        // === \1280/ === \\
        
    }
    .table-1 {
        transform-origin: 50% 100%;
    }
    .parallax-swimmer {
        z-index: 3;
        position: absolute;
        width: 100%;
        bottom: 0;
        @media(min-width: 993px) {
            bottom: -100%;
            z-index: 2;
        }
        @media(max-width: 993px) {
            bottom: -12%!important;
        }
        @media(max-height: 796px) {
            max-height: 720px;
        }
        

        // === /1920\ === \\
        @media(max-width: 1920px) {
            @media(max-height: 1050px) {
                bottom: -110%;
            }
            @media(max-height: 960px) {
                bottom: -130%;
            }
            @media(max-height: 910px) {
                bottom: -150%;
            }
        }
        // === \1920/ === \\

        // === /1680\ === \\
        @media(max-width: 1680px) {
            @media(max-height: 820px) {
                bottom: -115%;
            }
            @media(max-height: 780px) {
                bottom: -100%;
            }
            @media(max-height: 720px) {
                bottom: -110%;
            }
            @media(min-height: 980px) {
                bottom: -90%;
            }
            @media(min-height: 1080px) {
                bottom: -80%;
            }
        }
        // === \1680/ === \\

        // === /1440\ === \\
        @media(max-width: 1440px) {
            @media(max-height: 900px) {
                bottom: -110%;
            }
            @media(max-height: 780px) {
                bottom: -110%;
            }
            @media(max-height: 740px) {
                bottom: -115%;
            }
            @media(max-height: 720px) {
                bottom: -125%;
            }
            @media(max-height: 680px) {
                bottom: -140%;
            }
            @media(max-height: 600px) {
                bottom: -160%;
            }
        }
        // === \1440/ === \\

        // === /1366\ === \\
        @media(max-width: 1366px) {
            @media(max-height: 880px) {
                bottom: -100%;
            }
            @media(max-height: 800px) {
                bottom: -110%;
            }
            @media(max-height: 740px) {
                bottom: -118%;
            }
            @media(max-height: 700px) {
                bottom: -130%;
            }
            @media(max-height: 680px) {
                bottom: -135%;
            }
            @media(max-height: 640px) {
                bottom: -145%;
            }
            @media(max-height: 620px) {
                bottom: -152%;
            }
            @media(max-height: 580px) {
                bottom: -160%;
            }
        }
        // === \1366/ === \\

        // === /1280\ === \\
        @media(max-width: 1280px) {

            @media(min-height: 900px) {
                bottom: -90%;
            }
            @media(max-height: 900px) {
                bottom: -95%;
            }
            @media(max-height: 800px) {
                bottom: -108%;
            }
            @media(max-height: 720px) {
                bottom: -118%;
            }
            @media(max-height: 680px) {
                bottom: -122%;
            }
            @media(max-height: 650px) {
                bottom: -130%;
            }
            @media(max-height: 600px) {
                bottom: -140%;
            }
            @media(max-height: 580px) {
                bottom: -150%;
            }
        }
        // === \1280/ === \\

    }
    .drops {
        z-index: 2;
        position: absolute;
        bottom: 20%;
        width: 100%;
        @media(max-width: 993px) {
            bottom: 10%!important;
        }
        @media(min-width: 993px) {
            z-index: 1;
            bottom: -100%;
        }
        @media(max-width: 375px) {
            bottom: 25%!important;
        }
        @media(max-height: 796px) {
            max-height: 720px;
        }
        

        // === /1920\ === \\
        @media(max-width: 1920px) {
            @media(max-height: 1050px) {
                bottom: -110%;
            }
            @media(max-height: 960px) {
                bottom: -130%;
            }
            @media(max-height: 910px) {
                bottom: -150%;
            }
        }
        // === \1920/ === \\

        // === /1680\ === \\
        @media(max-width: 1680px) {
            @media(max-height: 780px) {
                bottom: -120%;
            }
            @media(min-height: 980px) {
                bottom: -80%;
            }
            @media(min-height: 1080px) {
                bottom: -70%;
            }
        }
        // === \1680/ === \\

        // === /1280\ === \\
        @media(max-width: 1280px) {
            @media(max-height: 900px) {
                bottom: -90%;
            }
            @media(max-height: 720px) {
                bottom: -110%;
            }
            @media(max-height: 600px) {
                bottom: -115%;
            }
            @media(max-height: 580px) {
                bottom: -130%;
            }
        }
        // === \1280/ === \\

        // === /1440\ === \\
        @media(max-width: 1440px) {
            @media(max-height: 780px) {
                bottom: -110%;
            }
            @media(max-height: 720px) {
                bottom: -120%;
            }
            @media(max-height: 680px) {
                bottom: -140%;
            }
            @media(max-height: 600px) {
                bottom: -160%;
            }
        }
        // === \1440/ === \\

        // === /1366\ === \\
        @media(max-width: 1366px) {
            @media(max-height: 700px) {
                bottom: -120%;
            }
            @media(max-height: 640px) {
                bottom: -135%;
            }
            @media(max-height: 580px) {
                bottom: -145%;
            }
        }
        // === \1366/ === \\


    }
    .tables-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;

        img {
            width: 100%;
            height: 100%;


            // === /1920\ === \\
            @media(max-width: 1920px) {
                @media(max-height: 1050px) {
                    max-width: 80%;
                }
                @media(max-height: 960px) {
                    max-width: 65%;
                }
            }
            // === \1920/ === \\

            // === /1680\ === \\
            @media(max-width: 1680px) {
                @media(max-height: 780px) {
                    max-width: 80%;
                }
            }
            // === \1680/ === \\

            // === /1440\ === \\
            @media(max-width: 1440px) {
                @media(max-height: 900px) {
                    max-width: 100%;
                }
                @media(max-height: 720px) {
                    max-width: 90%;
                }
                @media(max-height: 700px) {
                    max-width: 80%;
                }
                @media(max-height: 640px) {
                    max-width: 70%;
                }
            }
            // === \1440/ === \\

            // === /1366\ === \\
            @media(max-width: 1366px) {
                @media(max-height: 740px) {
                    max-width: 80%;
                }
                @media(max-height: 640px) {
                    max-width: 70%;
                }
            }
            // === \1366/ === \\

            // === /1280\ === \\
            @media(max-width: 1280px) {
                @media(max-height: 720px) {
                    max-width: 80%;
                }
                @media(max-height: 580px) {
                    max-width: 60%;
                }
            }
            // === \1280/ === \\

        }
        .table-con {
            position: relative;
            flex: 0 0 calc(100% / 3);
            display: flex;
            justify-content: center;
        }
        .second-con {
            max-width: 100%;
            flex: 0 0 calc(100% / 3);
        }
        .third-con {
            right: calc((-100% / 3) / 2);
        }
        .first-con {
            right: calc((100% / 3) / 2);
        }
    }
}